@model BLL.Dag

@{
    ViewData["Title"] = "CreateDag";
}

<h1>CreateDag</h1>

<h4>Dag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"  type="date"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DagType" class="control-label"></label>
                <input asp-for="DagType" class="form-control" />
                <span asp-validation-for="DagType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginTijd" class="control-label"></label>
                <input asp-for="BeginTijd" class="form-control"  type="datetime-local"/>
                <span asp-validation-for="BeginTijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EindTijd" class="control-label"></label>
                <input asp-for="EindTijd" class="form-control"  type="datetime-local"/>
                <span asp-validation-for="EindTijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DagList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
