@model plock_m1.Models.DagModel

@{
    ViewData["Title"] = "EditDag";
}

<h1>Daag Aanpassen</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            @if (Model.DagType == "event")
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="DagType" value="avond" id="avond">
                    <label class="form-check-label" asp-for="DagType">
                        Regular Night
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="DagType" value="event" id="event" checked="checked">
                    <label class="form-check-label" asp-for="DagType">
                        Event
                    </label>
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="DagType" value="avond" id="avond" checked="checked">
                    <label class="form-check-label" asp-for="DagType">
                        Regular Night
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="DagType" value="event" id="event">
                    <label class="form-check-label" asp-for="DagType">
                        Event
                    </label>
                </div>
            }

            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <textarea rows="3" asp-for="Beschrijving" class="form-control"></textarea>
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginTijd" class="control-label"></label>
                <input asp-for="BeginTijd" class="form-control" />
                <span asp-validation-for="BeginTijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EindTijd" class="control-label"></label>
                <input asp-for="EindTijd" class="form-control" />
                <span asp-validation-for="EindTijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DagList">Back to List</a> | 
    @Html.ActionLink("Delete", "DagDelete", new { ID = Model.ID })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
